*{
   margin:0; 
   padding:0;
   box-sizing: border-box;
   outline: none; 
   border:none;
} 

.content{
   padding:2rem;
   margin:0 auto;
   max-width: 1200px;
}
.card{
   width: 25%;
   margin-bottom: 500px;
   margin-left: 2rem;
   display: inline-block;
}
input{
   margin-bottom: 1rem;
   padding: 3px;
   border: 1px solid lightblue;
}
h4{
  margin-bottom: 2rem;
}
caption{
  align-items: center;
}
th, td {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}
